*{
  box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  :root{
    --main_color: #1A1363;
  }

  a{
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  .alit_yellow{
    color: #FFFF7D;
  }

  .box_work{
    margin: auto;
    max-width: 930px;
max-height: 819px;
border-radius: 18px;
background: #ECE9E9;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(77, 149, 83, 0.11);
  }



  